* {
    padding: 0;
    margin: 0;
}

.navbar-mod {
    background-color: #40403E;
}

nav img {
    margin-left: 100px;
    width: 90px;
    height: 50px;
}

.bs-as{
    color: white;
    margin-left: 10px;
}

.nav-item{
        margin: 5px;
        color: white;
}
    
.conferencia {
    
    color: white;
    font-weight: 450;
}

a.conferencia:hover {
    color: grey;
}

.sec-prin{
    
    color: darkgray;
    font-weight: 450;
}

.tickets {
    color: rgba(69,131,85,255);
    font-weight: 600;
}

.card1 {
    margin-left: 300px;
    margin-right: 50px;
    width: 25rem; 
    border: 1px solid rgba(0,0,0,.125);
}

.card2 {
    margin-right: 50px;
    width: 25rem; 
    border: 1px solid rgba(0,0,0,.125);
}

.card3 {
    width: 25rem; 
    border: 1px solid rgba(0,0,0,.125);
}

.container {
    margin-top: 20px;
    padding-left: 0%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.col-text {
    width: 50%; 
    background-color: rgba(53,58,64,255); 
    color: white; 
    border-left: 0.5px solid gray;
}

.octubre {
    font-size: 25px;
    margin-left: 20px;
    padding-top: 20px;
}

.texto {
    margin-left: 20px;
    font-weight: 100px;
    font-size: 12.5px;
    margin-right: 20px;
}

.btn-conoce{
    height: 30px;
    font-size: 10px;
    margin-top: -50px;
    margin-left: 20px;
}

.oradores{
    text-align: center;
}

.orador{
    font-weight: 400;
    margin-bottom: 20px;
}

.ignite{
    text-decoration: none;
    color: black; 
    border-bottom:2px dotted black;
}

.form{
    display: flex;
    justify-content: space-around;
    text-align: justify;
    flex-wrap: wrap;
    margin: auto;
    padding: 0px 60px 10px;
}
    
.form-control{
    margin: 10px;
    
}
    
.form-text{
    padding:  5px 20px 10px;
}
    
.form-btn{
    padding:  -100px 2px 10px;
    margin-left: 15px;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
}

.container-footer{
    background-color: rgb(11, 59, 75);
}

a{
    color: white;
    text-decoration: none;
}

.text-footer{
    line-height: 2.7;
}